body{
margin:0;
font-family:Arial;
background:#f4f4f4;
}



/* LOGIN SCREEN */

.loginScreen{

height:100vh;

display:flex;
flex-direction:column;

justify-content:center;
align-items:center;

background:#6c5ce7;

color:white;

}

.loginScreen input{

padding:15px;
width:250px;

border-radius:10px;
border:none;

font-size:16px;

margin-top:20px;

}

.joinBtn{

margin-top:15px;

padding:12px 30px;

border-radius:10px;

border:none;

font-size:18px;

background:white;

color:#6c5ce7;

}



/* TOP BAR */

.topBar{

background:#6c5ce7;

color:white;

padding:15px;

font-size:20px;

text-align:center;

}



/* USER LIST */

.usersContainer{

padding:10px;

}

.userRow{

background:white;

margin:10px;

padding:15px;

border-radius:12px;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:0 2px 5px rgba(0,0,0,0.1);

}

.callBtn{

background:#00b894;

color:white;

border:none;

padding:10px 15px;

border-radius:8px;

}



/* INCOMING CALL */

.incomingPopup{

position:fixed;

top:50%;
left:50%;

transform:translate(-50%,-50%);

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 5px 20px rgba(0,0,0,0.3);

text-align:center;

}



.incomingButtons{

margin-top:20px;

}

.acceptBtn{

background:#00b894;

color:white;

border:none;

padding:12px 20px;

margin:5px;

border-radius:10px;

font-size:16px;

}

.rejectBtn{

background:#d63031;

color:white;

border:none;

padding:12px 20px;

margin:5px;

border-radius:10px;

font-size:16px;

}



/* CALL SCREEN */

.callScreen{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:#6c5ce7;

display:flex;

justify-content:center;
align-items:center;

color:white;

}



/* CALL BOX */

.callBox{

text-align:center;

}



.avatar{

font-size:80px;

margin-bottom:20px;

}



.callName{

font-size:28px;
font-weight:bold;

}



.callStatus{

margin-top:10px;

font-size:18px;

}



.connection{

margin-top:5px;

font-size:16px;

}



.timer{

margin-top:15px;

font-size:32px;

font-weight:bold;

}



/* CALL BUTTONS */

.callButtons{

margin-top:40px;

}



/* MUTE BUTTON */

.muteBtn{

padding:15px 25px;

border-radius:50px;

border:none;

font-size:16px;

background:white;

color:black;

min-width:120px;

box-shadow:0 3px 8px rgba(0,0,0,0.2);

}
/* MUTE OFF (Grey) */

.muteOff{

background:#999 !important;
color:white !important;

}


/* END CALL BUTTON */

.endBtn{

padding:15px 25px;

border-radius:50px;

border:none;

font-size:16px;

background:#ff3b30;

color:white;

min-width:140px;

box-shadow:0 3px 8px rgba(0,0,0,0.2);

}

/* CALL CONTROL AREA */

.callControls{

position:absolute;

bottom:30px;
left:0;

width:100%;

display:flex;

justify-content:space-evenly;

padding:0 25px;

box-sizing:border-box;

}